/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  outline: none;
}

/*  */
body {
  background-color: #eee;
}
.globalMain {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
}
.searchForm {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
.searchForm > input {
  width: 252px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: -1px;
  text-indent: 0.5em;
}
.searchForm > button {
  width: 80px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #296ed6;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.siteList {
  /* outline: 1px solid blue; */
  min-width: 344px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 18px;
}
.siteList > li {
  /* outline: 1px solid red; */
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
  position: relative;
}
@media (min-width: 500px) {
  .siteList {
    max-width: 920px;
    justify-content: flex-start;
  }
  .siteList > li {
    margin: 8px;
  }
}
.siteList .site,
.siteList .addButton {
  display: block;
  width: 160px;
  cursor: pointer;
  padding: 5px 0;
  background-color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.siteList .logo {
  height: 70px;
  font-size: 64px;
  /* border: 1px solid black; */
  text-align: center;
}
.siteList .url {
  font-size: 14px;
  /* border: 1px solid black; */
  text-align: center;
  margin: 15px 0 10px 0;
}
.siteList .delete {
  /* border: 1px solid black; */
  width: 30px;
  font-size: 18px;
  color: #666;
  text-align: center;
  position: absolute;
  top: 0;
  right: -2px;
}
